.container {
  position: relative;
  display: block;
  height: 300px;
  width: 300px;
  border: 2px solid black;
}

.box {
  position: absolute;
  display: block;
}

#box1 {
  background-color: aquamarine;
  text-align: center;
  color: black;
  height: 100px;
  width: 100px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  left: 0px;
  bottom: 0px;
}

#box2 {
  background-color: rgb(66, 77, 229);
  text-align: center;
  color: black;
  height: 100px;
  width: 100px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  left: 0px;
  top: 0px;
}
#box3 {
  background-color: rgb(210, 89, 237);
  text-align: center;
  color: black;
  height: 100px;
  width: 100px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  right: 0px;
  bottom: 0px;
  bottom: 0px;
}

.container_2 {
  position: relative;

  height: 300px;
  width: 300px;
  border: 2px solid black;
}

.box_2 {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(89, 100, 6);
  margin: 10px;
  top: 0;
  right: 0;
}
